h1{   /* element selector */
    text-align: center;
    background-color:pink;   
}

#p1{    /*id selector*/
    color: blueviolet;
}

#p2{
    color: rgb(250, 57, 227);
}

.a1{       /*class selector*/
    color: lawngreen;
    font-size: larger;
}
h2,h3,h4{    /*group selector*/
    width: 600px;
}

h5,b
{
    text-align: center;
}