.box
{
    border: 5px solid black;
    height: 400px;
    width: 400px;
    background-color: blueviolet;
}

@media (min-width:500px)
{
    .box{
        background-color: brown;
    }
}

@media (max-height:500px) 
{
    .box{
        background-color: aqua;
    }
}